// Import variables (overrides Bootstrap defaults)
@import "base/variables.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Import base styles
@import "base/page.scss";

// Import components styles
@import "components/divider.scss";
@import "components/buttons.scss";

// Import layout styles
@import "layout/navbar.scss";
@import "layout/masthead.scss";
@import "layout/portfolio.scss";
@import "layout/contact.scss";
@import "layout/footer.scss";

.my-backgroud{
    background-color: black;
}

.my-backgroud2{
    background-image:url('../img/myimages2.jpg');
<<<<<<< HEAD
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
    
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
=======
>>>>>>> master
}